#container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #1b96d9;
}

.content-wrapper {
  width: 900px;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  text-align: center;
  color: white;
}

.col-third {
  padding: 10px;
  text-align: center;
  color: white;
  border-color: white;
  flex-basis: calc(100% / 3);
  font-size: 14px;
  font-family: Lato, sans-serif;
}

.image-wrapper {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 25px;
  text-align: center;
}

img {
  width: 60%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: Lato, sans-serif;
}

h3 {
  font-size: 16px;
  color: #cdd7dc;
}
