body {
  width: 590px;
  margin: 0 auto;
  font-family: Nunito, sans-serif;
  padding: 30px;
}

h3 {
  color: #ed655e;
  font-size: 1rem;
  text-align: center;
  padding-right: 200px;
}

form {
  padding: 0;
  border-color: #f2f1f1;
  font-size: 0.7rem;
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 220px;
  font-size: 0.7rem;
}

label {
  text-transform: capitalize;
  text-align: left;
}

p {
  text-align: right;
  padding-right: 200px;
}

div {
  font-size: 0.7rem;
}

button {
  border-radius: 12px;
  background-color: #ec5d57;
  color: #fff;
  padding: 6px 16px;
}

select {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 245px;
  background-color: #f3f3f3;
}

.eng-wrapper {
  padding-top: 10px;
  font-weight: bolder;
  color: black;
}

.hiring-box {
  padding-top: 10px;
}

#your-name {
  padding-top: 10px;
}
