.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  top: 5px;
}

#charmander {
  top: 25px;
}

#squirtle {
  top: 65px;
}

#pikachu {
  top: 150px;
}

#jigglypuff {
  top: 300px;
}
